@import "compass";

/**
* Buttons
*/

@mixin button($color) {
  border: none;
  background-color: $color;
  cursor: pointer;

  @include border-radius(2px);
  // @include transition-property(background-color);

  &:hover {
    @include transition-duration(.4s);
    background-color: darken($color, 6%);
  }
  &:active, &.active {
    background-color: darken($color, 8%);
  }
  &:disabled {
    background-color: lighten($color, 6%);
    cursor: default;
  }
}

.btn {
  @include button(#E9E9E6);

  display: inline-block;
  padding: 0 12px;
  height: 32px;
  color: #666;
  vertical-align: middle;
  zoom: 1;

  &:disabled {
    color: #999;
  }
}

.btn-xs {
  padding: 0 10px;
  height: 25px;
  font-size: 13px;
}
.btn-s { height: 28px; }
.btn-l {
  height: 40px;
  font-size: 1.14286em;
  font-weight: bold;
}

.primary {
  @include button(#467B96);
  color: #FFF;
}

.btn-group {
  display: inline-block; 
}

.btn-warn {
  @include button(#B94A48);
  color: #FFF;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active {
  background-color: transparent;
}

/* 下拉菜单 */
.btn-drop {
  position: relative;
}
.dropdown-toggle {
  padding-right: 8px;
}
.dropdown-menu {
  list-style: none;
  position: absolute;
  z-index: 2;
  left: 0;
  margin: 0;
  padding: 0;
  border: 1px solid #D9D9D6; 
  background: #FFF;
  text-align: left;
  min-width: 108px;
  display: none;

  li {
    white-space: nowrap;
    &.multiline {
      padding: 5px 12px 12px;
    }
  }

  a {
    display: block;
    padding: 5px 12px;
    color: #666;
    &:hover {
      background: #F6F6F3;
      text-decoration: none !important;
    }
  }
}
