/**
* 注脚
*/
.typecho-foot {
  padding: 4em 0;
  color: #999;
  line-height: 1.8;
  text-align: center;
}

.typecho-foot .resource {
  color: #CCC;
}

.typecho-foot .resource a {
  margin: 0 3px;
  color: #999;
}