/**
* 注脚
*/
.typecho-foot {
  padding: 4em 0 3em;
  color: $text-footer;
  line-height: 1.8;
  text-align: center;

  .copyright p {
    margin: 10px 0 0;
  }
  .resource {
    a {
      margin: 0 3px;
      color: $text-footer;
    }
  }
}
