/**
* 后台头部导航
*/

$navbar-height: 36px;

.typecho-head-nav {
  padding: 0 10px;
  background: $bg-navbar;
  .operate {
    float: right;
    a {
      display: inline-block;
      padding: 0 20px;
      line-height: $navbar-height;
      color: #BBB;
      &:hover{
        background-color: $bg-navbar-active;
        color: #FFF;
        text-decoration: none;
      }
    }
  }

}



#typecho-nav-list {
  float: left;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .root {
    position: relative;
    float: left;
    &:hover{
      .child{
        display: block;
      }
    }
    .parent{
      a{
        display: block;
        float: left;
        padding: 0 20px;
        height: $navbar-height;
        line-height: $navbar-height;
        color: #BBB;
        &:hover{
          background: $bg-navbar-active;
          color: #FFF;
          text-decoration: none;
        }
      }
    }
    .child{
      position: absolute;
      top: $navbar-height;
      display: none;
      margin: 0;
      min-width: 160px;
      max-width: 240px;
      background: $bg-navbar-active;
      z-index: 250;
      li{
        &.focus{
          a{
            color: $color-link-hover;
            font-weight: bold;
          }
        }
        a{
          color: #BBB;
          display: block;
          padding: 0 20px;
          overflow: hidden;
          text-overflow : ellipsis;
          white-space: nowrap;
          height: $navbar-height;
          line-height: $navbar-height;
          &:hover, &focus{
            background: $bg-navbar;
            color: #FFF;
            text-decoration: none;
          }
        }
      }

    }
    &.focus{
      .parent a{
        font-weight: bold;
        background: $bg-navbar-active;
        color: white;
        text-decoration: none;
      }
    }
  }
}
