/**
 * icons
 */

$icons: sprite-map("icons/*.png");

.icon-sprite-hack {
  background: $icons;
}

%i-16 {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-bottom;
  background: url(../images/icons.png) no-repeat;
  &:hover {
    @include opacity(0.75);
  }
}

.i-edit {
  @extend %i-16;
  background-position: sprite-position($icons, icon-edit);
}
.i-delete {
  @extend %i-16;
  background-position: sprite-position($icons, icon-delete);
}
.i-caret-up {
  @extend %i-16;
  background-position: sprite-position($icons, icon-caret-up);
}
.i-caret-down {
  @extend %i-16;
  background-position: sprite-position($icons, icon-caret-down);
}
.i-exlink {
  @extend %i-16;
  background-position: sprite-position($icons, icon-exlink);
}


/* 文件类型图标 */

.typecho-mime {
  @extend %i-16;
  padding-left: 24px;
  width: auto;
}

.typecho-mime-office {
  background-position: sprite-position($icons, mime-office);
}

.typecho-mime-text {
  background-position: sprite-position($icons, mime-text);
}

.typecho-mime-image {
  background-position: sprite-position($icons, mime-image);
}

.typecho-mime-html {
  background-position: sprite-position($icons, mime-html);
}

.typecho-mime-archive {
  background-position: sprite-position($icons, mime-archive);
}

.typecho-mime-application {
  background-position: sprite-position($icons, mime-application);
}

.typecho-mime-audio {
  background-position: sprite-position($icons, mime-audio);
}

.typecho-mime-script {
  background-position: sprite-position($icons, mime-script);
}

.typecho-mime-video {
  background-position: sprite-position($icons, mime-video);
}

.typecho-mime-unknow {
  background-position: sprite-position($icons, mime-unknow);
}