/**
 * icons
 */

$icons: sprite-map("icons/*.png");
$icons-2x: sprite-map("icons-2x/*.png");

.icon-sprite-hack {
  background: $icons;
}
// .icon-2x-sprite-hack {
//   background: $icons-2x;
// }

%i-16 {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-bottom;
  background: url(../img/icons.png) no-repeat;
  &:hover {
    @include opacity(0.75);
  }
}

.i-edit {
  @extend %i-16;
  background-position: sprite-position($icons, icon-edit);
}
.i-delete {
  @extend %i-16;
  background-position: sprite-position($icons, icon-delete);
}

// 小箭头
.i-caret-up, .i-caret-down, .i-caret-left, .i-caret-right {
  display: inline-block;
  border-style: solid;
  border-color: transparent transparent #BBB transparent;
  border-width: 0 4px 5px;
  vertical-align: middle;
}
.i-caret-down {
  border-color: #BBB transparent transparent transparent;
  border-width: 5px 4px 0;
}
.i-caret-right {
  border-color: transparent transparent transparent #BBB;
  border-width: 4px 0 4px 5px;
}

.i-exlink {
  @extend %i-16;
  background-position: sprite-position($icons, icon-exlink);
}


/* 文件类型图标 */

.mime-office {
  @extend %i-16;
  background-position: sprite-position($icons, mime-office);
}

.mime-text {
  @extend %i-16;
  background-position: sprite-position($icons, mime-text);
}

.mime-image {
  @extend %i-16;
  background-position: sprite-position($icons, mime-image);
}

.mime-html {
  @extend %i-16;
  background-position: sprite-position($icons, mime-html);
}

.mime-archive {
  @extend %i-16;
  background-position: sprite-position($icons, mime-archive);
}

.mime-application {
  @extend %i-16;
  background-position: sprite-position($icons, mime-application);
}

.mime-audio {
  @extend %i-16;
  background-position: sprite-position($icons, mime-audio);
}

.mime-script {
  @extend %i-16;
  background-position: sprite-position($icons, mime-script);
}

.mime-video {
  @extend %i-16;
  background-position: sprite-position($icons, mime-video);
}

.mime-unknow {
  @extend %i-16;
  background-position: sprite-position($icons, mime-unknow);
}