/**
 * icons
 */

$icons: sprite-map("icons/*.png");
$icons-2x: sprite-map("icons-2x/*.png");

.icon-sprite-hack {
  background: $icons;
}
// .icon-2x-sprite-hack {
//   background: $icons-2x;
// }

%i-16 {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-bottom;
  background: url(../img/icons.png) no-repeat;
  &:hover {
    @include opacity(0.75);
  }
}

.i-edit {
  @extend %i-16;
  background-position: sprite-position($icons, icon-edit);
}
.i-delete {
  @extend %i-16;
  background-position: sprite-position($icons, icon-delete);
}

// 小箭头
.i-caret-up, .i-caret-down, .i-caret-left, .i-caret-right {
  display: inline-block;
  border-style: solid;
  border-color: transparent transparent #BBB transparent;
  border-width: 3px 4px 5px;
}
.i-caret-down {
  border-color: #BBB transparent transparent transparent;
  border-width: 5px 4px 3px;
}
.i-caret-left {
  border-color: transparent #BBB transparent transparent;
  border-width: 4px 5px 4px 3px;
}
.i-caret-right {
  border-color: transparent transparent transparent #BBB;
  border-width: 4px 3px 4px 5px;
}

.i-exlink {
  @extend %i-16;
  background-position: sprite-position($icons, icon-exlink);
}


/* 文件类型图标 */

.mime-office {
  @extend %i-16;
  background-position: sprite-position($icons, mime-office);
}

.mime-text {
  @extend %i-16;
  background-position: sprite-position($icons, mime-text);
}

.mime-image {
  @extend %i-16;
  background-position: sprite-position($icons, mime-image);
}

.mime-html {
  @extend %i-16;
  background-position: sprite-position($icons, mime-html);
}

.mime-archive {
  @extend %i-16;
  background-position: sprite-position($icons, mime-archive);
}

.mime-application {
  @extend %i-16;
  background-position: sprite-position($icons, mime-application);
}

.mime-audio {
  @extend %i-16;
  background-position: sprite-position($icons, mime-audio);
}

.mime-script {
  @extend %i-16;
  background-position: sprite-position($icons, mime-script);
}

.mime-video {
  @extend %i-16;
  background-position: sprite-position($icons, mime-video);
}

.mime-unknow {
  @extend %i-16;
  background-position: sprite-position($icons, mime-unknow);
}


/* Logo 图标 */
.i-logo, .i-logo-s {
  width: 169px;
  height: 40px;
  display: inline-block;
  background: url("../img/typecho-logo.svg") no-repeat;
  text-indent: -9999em;
  @include background-size(auto 40px);
  @include opacity(.3);
  &:hover {
    @include opacity(.2);
  }
}
.i-logo-s {
  width: 26px;
  height: 26px;
  @include background-size(auto 26px);
  @include opacity(.1);
}

