@import "compass";

/**
* 提示信息框
*/
.message {
  padding: 8px 10px;
  @include border-radius(2px);
}

.message a {
  font-weight: bold;
  text-decoration: underline;
}

.error {
  background: #FBE3E4;
  color: #8A1F11;
}
.error a { color: #8A1F11; }

.notice {
  background: #FFF6BF;
  color: #8A6D3B;
}
.notice a { color: #8A6D3B; }

.success {
  background: #E6EFC2;
  color: #264409;
}
.success a { color: #264409; }


// 气泡
.balloon {
  display: inline-block;
  padding: 0 4px;
  min-width: 10px;
  height: 14px;
  line-height: 14px;
  background: #B9B9B6;
  vertical-align: text-top;
  text-align: center;
  font-size: 12px;
  color: #FFF;

  @include border-radius(20px);

}

