/**
* 后台分页
*/

.typecho-pager {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
  zoom: 1;
  li {
    display: inline-block;
    margin: 0 3px;
    height: 28px;
    line-height: 28px;
    a {
      display: block;
      padding: 0 10px;
      @include border-radius(2px);
      &:hover {
        text-decoration: none;
        background: $bg-tabs-hover;
      }
    }
    &.current a {
      background: $bg-tabs-active;
      color: $text-main;
    }
  }
}
