/* ------------------------------------
 * Typecho Default Theme
 *
 * @author  fen1211@gmail.com
 * @link  http: //typecho.net/
 * @update  2009-03-29 14: 30
 * --------------------------------- */


/* ------------------
 * gobal settings
 * --------------- */
body {
  background-color: #F6F6F3;
  color: #444;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: Georgia, "Times New Roman", STHeiti, serif;
  font-size: 87.5%;
}

.container {
  margin: 50px auto 30px;
  background-color: #FFF;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #467B96;
  text-decoration: none;
}
a:hover {
  color: #444;
  text-decoration: underline;
}
pre, code {
  font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace;
}

input[type="text"], input[type="email"], input[type="url"] {
  padding: 5px;
  border: 1px solid #E3E3E0;
  width: 100%;

  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ------------------
 * header
 * --------------- */

#header {
}

#logo {
  color: #333;
  font-size: 2em;
  font-weight: bold;
}
.description {
  margin: .5em 0 0;
  color: #999;
  font-style: italic;
}

/* navigation menu */
#nav-menu {
  margin-top: 30px;
  padding-bottom: 15px;
  border-bottom: 3px double #E9E9E6;
}
#nav-menu a {
  display: inline-block;
  margin-right: 16px;
  padding-right: 20px;
  border-right: 1px solid #E9E9E6;
}
#nav-menu .current {
  color: #444;
}

/* search */
#search {
  position: relative;
  margin-top: 15px;
}
#search input {
  padding-right: 30px;
}
#search button {
  position: absolute;
  right: 4px;
  top: 2px;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  background: transparent url(img/icon-search.png) no-repeat center center;
  text-indent: -9999em;
}

/* ------------------
 * content
 * --------------- */
#main {
}
.post {
  padding: 20px 0;
  border-bottom: 1px solid #E9E9E6;
}
.post-title {
}
.post-meta {
  margin-top: -0.5em;
  color: #999;
  font-size: .92857em;
}
.post-meta span {
  margin-right: 6px;
  padding-right: 10px;
  border-right: 1px solid #E9E9E6;
}
.post-content {
  line-height: 1.5;
}
.post-content img {
  max-width: 100%;
}

/* = pages nav */
/* ------------------
 * comment list
 * --------------- */
#comments {
  margin-top: 20px;
}
#comments h4 {
}
ol.comment-list, ol.comment-list ol {
  margin: 0;
  list-style: none;
}
ol.comment-list ol {
  padding-top: 10px;
}
ol.comment-list li {
  margin: 0;
  padding-bottom: 10px;
}
ol.comment-list li {
  padding: 10px 15px;
  margin-top: 10px;
  border: 1px solid #eee;
  background: #FAFAFA;
  overflow: hidden;
}
ol.comment-list li.comment-level-odd {
  background: #fff;
}
ol.comment-list li.comment-level-even {
  background: #FAFAFA;
}
ol.comment-list li.comment-by-author {
  border: 1px dashed #AAA;
}
ol.comment-list li .comment-reply {
  text-align: right;
}
ol.comment-list li .comment-reply a {
  border: none;
  color: #aaa;
}
ol.comment-list li .comment-reply a: hover {
  color: #444;
}
.comment-meta {
  padding-bottom: 8px;
  /*border-bottom: 1px dashed #eee;
  */
color: #999;
}
.comment-author {
  display: block;
  color: #444;
}
.comment-author cite.fn {
}
.comment-body {
  overflow: hidden;
}
img.avatar {
  float: left;
  margin: 6px 10px 0 0;
}
.respond {
  margin-top: 20px;
}
ol.comment-list li .respond {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
#comment-form {
  padding-right: 8px;
}
.respond .cancel-comment-reply {
  float: right;
}
.respond .cancel-comment-reply a {
  border: none;
  color: #aaa;
}
.respond .cancel-comment-reply a: hover {
  color: #444;
}
#comment-form label {
  color: #555;
  display: block;
}
#comment-form label .required {
  color: #C04E37;
  padding-left: 5px;
}
#comment-form .text {
  width: 100%;
  margin-right: 15px;
}
#comment-form textarea {
  width: 100%;
  height: 180px;
}

/* ------------------
 * sidebar
 * --------------- */
#sidebar {
  padding-top: 20px;
}
.widget {
  margin-bottom: 30px;
}
.widget-title {
  font-size: 1em;
}
.widget-list {
  list-style: none;
  padding: 0;
}
.widget-list li {
  margin: 5px 0;
  line-height: 1.5;
}
.widget-list a:hover {
}

/* ------------------
 * footer 
 * --------------- */
#footer {
  padding-bottom: 30px;
  line-height: 1.5;
  text-align: center;
  color: #666;
}
#footer a {
}

/* -----------------
 * misc
 *--------------- */
.aligncenter, div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
img.alignleft {
  margin: 4px 15px 0 0;
}
img.alignright {
  margin: 4px 0 0 15px;
}
.alt {
  color: #666;
}


@media (min-width: 768px) {
  .container {
    padding: 60px;
  }
}

@media (min-width: 992px) {
  .container {
  }
}

@media (min-width: 1200px) {
  .container {
  }
}