.*.swp
.*.swo
._*
.DS_Store
/ImgCache/
/Backup_rar/
/Debug/
/debug/
/upload/
/avatar/
/.idea/
.svn/
*.orig
*.aps
*.APS
*.chm
*.exp
*.pdb
*.rar
.smbdelete*
*.sublime*
.sass-cache
config.rb
/config.inc.php
/usr/uploads/
