/*
* Editor
*/
.editor {
  margin-bottom: -0.8em;
}

.wmd-button-row {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 4px;
    padding: 3px;
    cursor: pointer;
    @include border-radius(2px);
    &:hover {
      background-color: #E9E9E6;
    }
    &.wmd-spacer {
      height: 20px;
      margin: 0 10px 0 6px;
      padding: 3px 0;
      width: 1px;
      background: #E9E9E6;
      cursor: default;
    }
  }
}

.editor span {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url(../img/editor.png) no-repeat;
}

/* 对话框 */
.wmd-prompt-background {
  background-color: #000;
}
.wmd-prompt-dialog {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  margin-top: -95px;
  margin-left: -200px;
  padding: 20px;
  width: 360px;
  background: #F6F6F3;

  p { margin: 0 0 5px; }
  form { margin-top: 10px; }
  input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
  }
  button { margin-right: 10px; }
}

/* 预览 */
#wmd-preview {
  background: #FFF;
  padding: 10px 20px;
  img { max-width: 100%; }
  code, pre {
    padding: 2px 4px;
    overflow: auto;
    background: #F6F6F3;
    font-size: .92857em;
  }
  pre { padding: 1em; }
  blockquote {
    margin: 1em 1.5em;
    padding-left: 1.5em;
    border-left: 4px solid #E9E9E6;
    color: #777;
  }
  hr {
    margin: 2em auto;
    width: 100px;
    border: 1px solid #E9E9E6;
    border-width: 2px 0 0 0;
  }
}

/* 编辑器全屏 */
.fullscreen {
  #wmd-button-bar {
    position: absolute;
    top: 38px;
    left: 0;
    width: 50%;
    z-index: 999;
    outline: none;
    @include box-sizing(border-box);
  }
  #text {
    position:absolute;
    top: 0;
    left: 0;
    padding-top: 6px;
    width: 50%;
    background-color: #FFF;
    z-index: 1000;
    height: 38px;
    border-right: 1px solid #D9D9D6;
    @include box-sizing(border-box);
    @include border-radius(0);
  }
  #wmd-preview {
    position: absolute;
    top: 0;
    right: 0;
    width:50%;
    background-color: #FFF;
    z-index: 999;
    overflow: auto;
    @include box-sizing(border-box);
  }
}