/*
* Editor
*/
.editor {
  margin-bottom: -0.8em;
}

.wmd-button-row {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 4px;
    padding: 3px;
    cursor: pointer;
    @include border-radius(2px);
    &:hover {
      background-color: #E9E9E6;
    }
    &.wmd-spacer {
      height: 20px;
      margin: 0 10px 0 6px;
      padding: 3px 0;
      width: 1px;
      background: #E9E9E6;
      cursor: default;
    }
  }
}

.editor span {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url(../img/editor.png) no-repeat;
}

/* 对话框 */
.wmd-prompt-background {
  background-color: #000;
}
.wmd-prompt-dialog {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  margin-top: -95px;
  margin-left: -200px;
  padding: 20px;
  width: 360px;
  background: #F6F6F3;

  p { margin: 0 0 5px; }
  form { margin-top: 10px; }
  input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
  }
  button { margin-right: 10px; }
}

/* 预览 */
#wmd-preview {
  background: #FFF;
  padding: 10px 20px;
  img { max-width: 100%; }
}