.typecho-mime {
  background-image: url(../images/mime.gif);
  background-repeat: no-repeat;
  padding-left: 24px;
  height: 16px;
  line-height: 16px;
}

.typecho-mime-office {
  background-position: 0 0;
}

.typecho-mime-text {
  background-position: 0 -16px;
}

.typecho-mime-image {
  background-position: 0 -32px;
}

.typecho-mime-html {
  background-position: 0 -48px;
}

.typecho-mime-archive {
  background-position: 0 -64px;
}

.typecho-mime-application {
  background-position: 0 -80px;
}

.typecho-mime-audio {
  background-position: 0 -96px;
}

.typecho-mime-script {
  background-position: 0 -112px;
}

.typecho-mime-video {
  background-position: 0 -128px;
}

.typecho-mime-unknow {
  background-position: 0 -144px;
}