/**
* Forms
*/

input[type=text],
input[type=url],
input[type=password],
input[type=email],
input[type=date],
input[type=datetime-local],
input[type=month],
input[type=search],
input[type=number],
input[type=tel],
input[type=time],
textarea,
input.text {
  display: block;
  color: var(--te-body-color);
  border: 1px solid var(--te-border-color);
  padding: 6px 12px;
  border-radius: var(--te-border-radius);
  width: 100%;

  &:disabled, &:read-only {
    background: var(--te-gray-200);
  }

  &:focus {
    outline-color: var(--te-primary);
  }

  &.form-sm {
    font-size: 13px;
    padding: 3px 6px;
    border-radius: var(--te-border-radius-sm);
  }

  &.form-lg {
    padding: 7px 14px;
    font-size: 16px;
    border-radius: var(--te-border-radius-lg);
  }
}

input[type=radio],
input[type=checkbox],
input[type=range],
progress {
  accent-color: var(--te-primary);
}

textarea {
  resize: vertical;
}

select {
  border: 1px solid var(--te-border-color);
  line-height: 1.5;
  height: 35px;
  padding: 0 6px;
  border-radius: var(--te-border-radius);

  &.form-sm {
    font-size: 13px;
    height: 27.5px;
    border-radius: var(--te-border-radius-sm);
  }
}
