
/**
* 提示信息框
*/
.message {
  padding: 8px 16px;
  border-radius: var(--te-border-radius);

  a {
    font-weight: bold;
  }
}

.error {
  background: var(--te-red-100);
  color: var(--te-red-700);

  a { color: var(--te-red-700); }
}

.notice {
  background: var(--te-yellow-100);
  color: var(--te-yellow-700);

  a { color: var(--te-yellow-700); }
}

.success {
  background: var(--te-green-100);
  color: var(--te-green-700);

  a { color: var(--te-green-700); }
}


/**
* 气泡提示
*/
.balloon {
  display: inline-block;
  padding: 0 4px;
  min-width: 20px;
  height: 16px;
  line-height: 16px;
  background-color: var(--te-gray-700);
  text-align: center;
  font-size: 12px;
  color: var(--te-white);

  border-radius: 100px;
}

a.balloon {
  color: var(--te-white);
  &:hover {
    background-color: var(--te-primary-500);
    color: var(--te-white);
    text-decoration: none;
  }
}

