
/**
* 提示信息框
*/
.message {
  padding: .5rem;
  border-radius: var(--te-border-radius);

  a {
    font-weight: bold;
  }
}

.error {
  background: var(--te-red-100);
  color: var(--te-red-700);

  a { color: var(--te-red-700); }
}

.notice {
  background: var(--te-yellow-100);
  color: var(--te-yellow-700);

  a { color: var(--te-yellow-700); }
}

.success {
  background: var(--te-green-100);
  color: var(--te-green-700);

  a { color: var(--te-green-700); }
}

.warning {
  color: var(--te-danger);
}


/**
* 气泡提示
*/
.balloon {
  display: inline-block;
  padding: 0 4px;
  min-width: 20px;
  height: 16px;
  line-height: 16px;
  background-color: var(--te-gray-700);
  text-align: center;
  font-size: 12px;
  color: var(--te-white);

  border-radius: 100px;
}

a.balloon {
  background-color: var(--te-primary-100);
  color: var(--te-primary);
  &:hover {
    background-color: var(--te-primary-500);
    color: var(--te-white);
    text-decoration: none;
  }
}

/** 顶部消息样式 by 70 */
.popup {
  display: none;
  position: sticky;
  margin: 0;
  padding: 8px;
  border: none;
  width: 100%;
  z-index: 10;
  text-align: center;

  border-radius: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
