/**
* Jquery Tokeninput
*/

ul.token-input-list {
  list-style: none;
  margin: 0;
  padding: 6px 12px;
  border: 1px solid var(--te-border-color);
  background-color: var(--te-white);
  cursor: text;
  z-index: 999;
  font-size: 13px;

  border-radius: var(--te-border-radius);
  box-sizing: border-box;

  li {
    display: inline-block;
    border: 1px solid var(--te-white);
    height: 21px;
  }
}


ul.token-input-list li input {
  padding: 0;
  border: 0;
}

li.token-input-token {
  padding: 0 6px;
  background-color: var(--te-gray-200);
  white-space: nowrap;
  p {
    display: inline;
    margin: 0;
  }
  span {
    margin-left: 4px;
    color: var(--te-secondary);
    cursor: pointer;
  }
}



li.token-input-selected-token {
  background-color: var(--te-gray-300);
}

div.token-input-dropdown {
  position: absolute;
  background-color: var(--te-white);
  overflow: hidden;
  border: 1px solid var(--te-border-color);
  border-top-width: 0;
  cursor: default;
  z-index: 1;
  font-size: 13px;
}

div.token-input-dropdown p {
  margin: 0;
  padding: 4px 8px;
  font-weight: bold;
}

div.token-input-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.token-input-dropdown ul li {
  padding: 4px 10px;
}

div.token-input-dropdown ul li em {
  font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
  background-color: var(--te-gray-200);
}