/* vim: set et sw=4 ts=4 sts=4 fdm=marker ff=unix fenc=utf8 */
/**
 * Typecho 后台样式
 *
 * @author  i.feelinglucky@gmail.com
 * @since   2008-09-26
 * @link    http://www.typecho.net/
 * @version $Id: grid.source.css 470 2008-09-26 15:23:38Z i.feelinglucky $
 */

/**
 * Typecho 全局样式
 */
body {
    /*
    background: #f7fbe9;
    color: #333;
    */
	font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana;
    background: #333;
    color: #f7fbe9;
    /*
    overflow-x: hidden;
    */
}

/*
body > div {
    background: #f7fbe9;
    color: #333;
}
*/

body.bright, .main {
    background: #f7fbe9;
    color: #333;
}


body.dark {
    background: #333;
}

h1, h2, h3, h4, h5, h6, p {
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

ul, ol {
    list-style: none;
}

p {
    font-size: 12px;
}

a {
    color: #BD6800;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.important {
    color: #fff;
}

em {
    color: #e47e00;
    font-weight: normal;
}

form {
	padding: 0;
	margin: 0;
}

input, textarea {
    font-size: 13px;
	padding: 2px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input, textarea { padding: 1px; }
}

textarea {
    overflow: auto;
}

em {
	font-style: normal;
}

input:hover {
    /*
    cursor: pointer;
     */
}

input, select, textarea {
	font-family: Verdana, Geneva, sans-serif;
}

/** hack webkit border by 70 */
input:focus, textarea:focus, select:focus {
	outline: 0 !important;
}

select {
	font-size: 13px;
	padding: 1px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select { padding: 0; }
}

button {
	overflow:visible;
	line-height: 16px;
	*height:24px;
	*padding:0 8px;
	*line-height: 20px;
	*margin-bottom: -1px; 
}

/** just for ie6 */
*html button {
	line-height:17px;
	height:17px;
	margin-bottom:-1px;
}

/**
 * 弹出层
 */
.typecho-popup {
    background: #333;
	color: #333;
    height:100%;
    left:0;
    overflow:hidden;
    position:absolute;
    top:0;
    width:100%;
    z-index:999;
    filter: Alpha(opacity=95);   
    opacity:.95;   
}

.typecho-popup-content {
    background: #e5ead1;
    padding: 10px 0px 10px 10px;
    position: relative;
    width: 800px;
    border: 1px solid #dee4c5;
    margin: 15% auto;
}

.typecho-popup-content .submit button {
    margin-right: 5px;
}


/**
 * 选择日历
 */
.select-date {
    display: inline-block;
    outline: none;
    background: url(../images/sprite.png) no-repeat scroll 0px -293px;
    width: 15px;
    height: 15px;
    overflow: hidden;
    text-indent: -999px;
    margin: 0px 7px;
}

/**
 * logo 的样式
 */
.logo {
    display: block;
    height: 20px;
    width: 92px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../images/sprite.png) no-repeat scroll 0px -78px;
}

.logo-dark {
    display: block;
    height: 21px;
    width: 92px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../images/sprite.png) no-repeat scroll 0px -150px;
}


/**
 * 典型配置选项
 */
/*
.typecho-option {

}
 */

.typecho-option li {
    padding-left: 110px;
}

.typecho-option label.typecho-label {
    float: left;
    width: 110px;
    text-align: right;
    margin: 1px 5px 0 -120px;
    font-size: 13px;
}

.typecho-option .description {
    color: #555;
}

/** 增加配置面板内部的错误样式 by 70 */
.typecho-option .message {
    padding: 2px 4px;
    font-size: 12px;
	width: 325px;
	
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	
	/* hope IE support border radius, God save me! */
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}


/**
 * 提示信息框
 */
.message {
    padding: 5px;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
	overflow: hidden;
}

.message a:link, .message a:visited {
    color: #333;
    text-decoration: underline;
}

.error {
    border: 1px solid #fbc2c4;
    background: #fbe3e4;
	color: #8A1F11;
}

.notice {
    background: #fff6bf;
    border: 1px solid  #ffd324;
	color: #514721;
}

.success {
    background: #e6efc2;
    border: 1px solid #c6d880;
	color: #264409;
}

/** 增加顶部消息样式 by 70 */
.popup {
	margin-bottom: -10px;
}

/** 
 * 安装样式
 * 
 * @author mingcheng
 * @date   2008-09-06
 */
/**
 * 安装向导
 */
.typecho-install-patch {
    height: 30px;
    line-height: 30px;
    background: #333;
}

.typecho-install-patch ol {
    position: relative;
    overflow: hidden;
    margin-left: 20px; /* 给第一个位置流出 20px */
    zoom: 1;
}

.typecho-install-patch li {
    font-weight: 600;
    float: left;
    color: #999;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    left: -20px;
    position: relative;
    margin-right: 15px;
    background: #333 url(../images/sprite.png) no-repeat scroll 0px 0px; 
}

.typecho-install-patch li.current {
    color: #fff;
}


/**
 * 安装主体内容
 */
.typecho-install {
    margin: 30px auto;
    *padding-bottom: 30px;
}

.typecho-install .typecho-install-title, .typecho-install .typecho-install-body {
    padding: 0px 0px 10px 0px;;
    margin: 0px 0px 10px 0px;
    border-bottom: 1px solid #dee4c5;
}

.typecho-install .typecho-install-title {
    line-height: 25px;
    height: 25px;
    padding-left: 100px;
    background: url(../images/sprite.png) no-repeat scroll 0px -75px; 
}

/*
.typecho-install .typecho-install-body {

}
 */

.typecho-install .typecho-install-body h2 {
    margin-top: 10px;
    color: #e47e00;
}

.typecho-install .typecho-install-body p {
    line-height: 18px;
    margin-top: 5px;
    text-align: justify;
}

.typecho-install .session {
    margin-bottom: 20px;
}

.typecho-install .session ul {
    font-size: 13px;
    margin: 15px 0px 0px 20px;
}

.typecho-install .session a:link, .typecho-install .session a:hover {
}

.typecho-install .typecho-option {
    margin: 10px 0px;
}

.typecho-install .typecho-option li {
    margin-bottom: 5px;
}

.typecho-install .typecho-option .message {
    margin: 2px 0px;
    overflow: hidden;
}

.typecho-install .typecho-option .message,
.typecho-install .typecho-option input {
    width: 325px;
}

.typecho-install .typecho-option input.mini {
    width: 125px;
}

/*
.typecho-install .submit {
margin-top: 25px;
}
 */

/**
 * @安装样式结束
 */

/**
 * 后台分页
 */
.typecho-pager {
    text-align: center;
    height: 15px;
}

.typecho-pager .typecho-pager-content {
    display: inline-block;
             *display: inline;
             *zoom: 1;
}

.typecho-pager h5 {
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    float: left;
}

.typecho-pager ul {
    line-height: 15px;
    height: 15px;
    overflow: hidden;
    float: left;
    zoom: 1;
}

.typecho-pager li {
    font-family: arial,sans-serif;
    margin-right: 3px;
    font-size: 12px;
    float: left;
    height: 15px;
    line-height: 15px;
}

.typecho-pager a {
    color: #333;
    display: block;
    height: 15px;
    outline: none;
	padding: 0 4px;
	float: left;
}

.typecho-pager a:hover {
    color: #333;
    text-decoration: none;
    background: #dee4c5;
}

.typecho-pager li.current, .typecho-pager li.current a {
    background: #e47e00;
}

.typecho-pager li.current a {
    color: #fff;
}


/**
 * 登录框
 */
.typecho-login {
    position: relative;
    margin: 15% auto;
}

.typecho-login .logo, .typecho-login .logo-dark {
    margin: 0px auto 15px;
}

.typecho-login form {
    background: #e5ead1;
	margin: 0 10px;
    padding: 25px 20px;
    font-size: 12px;
}

.typecho-login legend {
    display: none;
}

.typecho-login label {
    display: block;
    font-weight: bold;
}

.typecho-login input.text {
    width: 205px;
	font-size: 18px;
}

.typecho-login form p {
    margin-bottom:15px;
}

.typecho-login form p.submit {
    margin: 5px 0px 0px 0px;
    position: relative;
}

.typecho-login form p.submit button {
    position: absolute;
    right: 0px; top: 0px;
}

.typecho-login .more-link {
    font-size: 12px;
    margin: 10px auto;
	padding: 0 10px;
    clear: both;
    overflow: hidden;
}

.typecho-login .more-link .back-to-site {
    float: left;
}

.typecho-login .more-link .forgot-password {
    float: right;
}


/**
 * 后台头部导航
 */
.typecho-head-guid {
    height: 30px;
    background: #333;
    color: #fff;
    position: relative;
    z-index: 250; /* IE 是个 250 */
	border-bottom: 1px solid #DCE2C0;
}

.typecho-head-guid dl {
    overflow: hidden;
    margin-left:10px;
    zoom: 1;
}

.typecho-head-guid dt {
    float: left;
    margin: 0;
    font-size: 13px;
    overflow: hidden;
}

.typecho-head-guid dt a:link, .typecho-head-guid dt a:visited {
    float: left;
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 30px;
    background: #333;
    display: block;
    outline: none;
}

/** 增加focus类用来标示当前的菜单项 by 70 */
.typecho-head-guid dt.focus a:link, .typecho-head-guid dt.focus a:visited,
.typecho-head-guid dt.current a:link, .typecho-head-guid dt.current a:visited,
.typecho-head-guid dt a:hover {
    background: #404040 /*url(../images/sprite.png) 0 -360px repeat-x*/;
    /*text-decoration: none;*/
}

.typecho-head-guid dd {
    display:none;
    position:absolute;
	/* 替换下拉菜单背景 by fen (2008-11-12) */
    /* background: url(../images/typecho-head-guid-shadow.png) bottom no-repeat;
	border: 1px solid #E5EAD1;
    border-top: none;*/
	border: 1px solid #CED7A8;
	border-top: none;
	background: #DCE2C0;
    font-size: 13px;
    overflow: hidden;
    z-index:100;
	padding: 10px;
    z-index: 250;
    top: 30px;
	min-width: 180px;
	*width: 180px; /* IE需要这个宽度 */
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	
	/* hope IE support border radius, God save me! */
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.typecho-head-guid ul {
    position: relative;
    top: 0;
	padding: 0;
}

.typecho-head-guid li {
	/*margin-bottom: 1px;*/
	background: url(../images/sprite.png) 0px -370px repeat-x;
	padding-top: 2px;
}

.typecho-head-guid dd li.first {
	background: none;
	padding-top: 0;
}

.typecho-head-guid dd li.focus a, .typecho-head-guid dd li.focus a:hover {
    /*background: #E68A17;
    color: #fff;*/
	background: #EDF0DF url(../images/sprite.png) right -412px no-repeat;
}

/* 快捷键
.typecho-head-guid dd a span.hotkey {
	float: right;
	margin: 2px -40px 0 0;
	font-size: 11px;
	color: #666;
}

.typecho-head-guid dd li.focus a span.hotkey, .typecho-head-guid dd li.focus a:hover span.hotkey {
	color: #fff;
}*/

.typecho-head-guid dd a:link, .typecho-head-guid dd a:visited {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 37px 5px 7px;
    zoom: 1;
}

.typecho-head-guid dd a:hover {
    background: #EDF0DF;
}

.typecho-head-guid .operate {
    color: #ccc;
    position:absolute;
    font-size: 12px;
    top: 0px;
    right: 5px;
    /* review IE */
           *right: 25px;
           height: 30px;
           line-height: 30px;
}

.typecho-head-guid .operate a.exit {
    display: inline-block;
    background: url(../images/sprite.png) no-repeat scroll 0px -223px;
    width: 20px;
    height: 20px;
    text-indent: -999px;
    outline: none;
    overflow: hidden;
    position:relative;
             *position:absolute;
             top: 5px;
}

.typecho-head-guid .operate .author {
    margin-right: 8px;
    text-decoration: underline;
}


/**
 * 注脚
 */
.typecho-foot {
    background: #333333;
    padding: 15px 25px 80px 25px;
    font-size: 12px;
    text-align: center;
    color: #999;
    /*
    position: absolute;
    height: 100%;
    width: 100%;
    */
}

.typecho-foot h4 {
    margin: 5px auto;
}

.typecho-foot h4 a {
    margin: 0px auto;
}

.typecho-foot em {
    color: #fff;
}

/*
.typecho-foot .copyright {

}

    .typecho-foot .resource {

}
 */

.typecho-foot .resource ul {
    margin: 5px auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: inline-block;
             *display: inline;
             *zoom: 1;
}

.typecho-foot .resource li {
    font-size: 12px;
    left: -6px;
    position: relative;
    float: left;
    padding: 0px 5px;
    line-height: 14px;
    border-left: 1px solid #505050;
}

.typecho-foot .resource li a:link, .typecho-foot .resource li a:visited {
    color: #999;
}

.typecho-foot .resource li a:hover, .typecho-foot .resource li a:active {
    color: #fff;
}

.typecho-foot-v2 {
    text-align: left;
}

.typecho-foot-v2 h4 {
    float: left;
    margin-right: 10px;
}

.typecho-foot-v2 h4 a {
    margin: 0px;
}

.typecho-foot-v2 .resource ul {
    text-align: left;
}

/**
 * 标题
 */
.typecho-page-title {
    margin-top: 30px;
}

.typecho-page-title div {
    height: 30px;
    background: url(../images/sprite.png) repeat-x scroll 0px -1485px;
}

.typecho-page-title div a {
	color: #E47E00;
}

.typecho-page-title h2 {
    background: #f7fbe9;
    padding-right: 10px;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    float: left;
}

.typecho-page-title p {
    height: 30px;
    float: right;
    background: #f7fbe9;
    padding-left: 10px;
}

.typecho-page-title a:link, .typecho-page-title a:visited {
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
}

.typecho-page-title a:hover {
    text-decoration: underline;
}


/**
 * 后台页面主体
 */
.typecho-page-main {
    margin: 10px auto;
    *padding-bottom: 10px;
}

.typecho-page-main .typecho-option-tabs {
    font-size: 13px;
	font-weight: bold;
}

/**
 * 后台主页左侧导航列表
 */
.typecho-dashboard-nav h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.typecho-dashboard-nav h3.intro {
    font-size: 13px;
	font-weight: normal;
}

.typecho-dashboard-nav .intro-link {
    background: none;
    padding: 0px;
    font-size: 13px;
    margin-bottom: 20px;
}

.typecho-dashboard-nav .intro-link ul {
}

.typecho-dashboard-nav .intro-link li {
    border: none;
    margin: 2px 0px;
}

.typecho-dashboard-nav .dashboard-status {
    font-size: 12px;
}

.typecho-dashboard-nav .status p {
    margin-bottom: 5px;
}

.typecho-dashboard-nav .update-check {
    background: #dee4c5;
    color:#e47e00;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

.typecho-dashboard-nav .update-check p {

}

.typecho-dashboard-nav .update-check .current {
    font-size: 13px;
    font-weight: bold;
}

.typecho-dashboard-nav .update-check .current em {
    font-weight: bold;
}

.typecho-dashboard-nav .update-check .latest {
    font-size: 12px;
}

.typecho-dashboard-nav .update-check .latest a,
.typecho-dashboard-nav .update-check .latest em {
    color: #666;
}

/**
 * 主页主体
 */
.typecho-dashboard-main {

}

.typecho-dashboard-main .section {
    font-size: 13px;
    margin-bottom: 20px;
}

.typecho-dashboard-main .section h4 {
    font-size: 14px;
	margin-bottom: 10px;
}

.typecho-dashboard-main .section ul {
}

.typecho-dashboard-main .section li {
    text-align: justify;
    line-height: 26px;
}

.typecho-dashboard-main .section .tags {
    margin: 0px 5px;
}

.typecho-dashboard-main .section .title {

}

.typecho-dashboard-main .section .date {

}

.typecho-dashboard-main .section .category {

}


/**
 * 标签页
 */
.typecho-option-tabs {
    background: #dee4c5;
    height: 30px;
    overflow: hidden;
    zoom: 1;
}

.typecho-option-tabs li {
    float: left;
    margin: 4px 0px 0px 5px;
    height: 26px;
}

.typecho-option-tabs li:hover, .typecho-option-tabs li.current {
    background: #f7fbe9;
}

.typecho-option-tabs li a:link, .typecho-option-tabs li a:visited {
    display: block;
    outline: none;
    color: #333;
    text-decoration: none;
    padding: 3px 15px;
}

/**
 * 表格列表页
 */
.typecho-article-list {
    margin-top: 25px;
}

/**
 * 列表页选项
 */
.typecho-list .typecho-pager {
    margin: 10px 0px 20px;
}

.typecho-list-operate {
    height: 30px;
    overflow: hidden;
    font-size: 12px;
    zoom: 1;
}

.typecho-list-operate input {
    font-size: 12px;
}

.typecho-list-operate p.operate {
    float: left;
}

.typecho-list-operate p.search {
    float: right;
}

.typecho-list-operate span.operate-button {
	cursor: pointer;
	color: #BD6800;
}

.typecho-list-operate a:hover {
	text-decoration: none;
}

/**
 * 列表表格
 */
/** 增加表格标题 by 70 */
.typecho-list-table-title {
	font-size:14px;
	font-weight: normal;
	color: #777;
	text-align: center;
}

.typecho-list-table  {
    width: 100%;
    margin: 10px 0 20px 0;
    font-size: 13px;
    border-collapse: collapse;
}

.typecho-list-table input {
    border: none; /* 重置 input */
}

.typecho-list-table thead {
    background: #dee4c5;
}

.typecho-list-table th {
    text-align: left;
    padding: 3px 5px;
    font-weight: bold;
    border-bottom: 1px solid #d1daad;
}

.typecho-list-table td {
    height: 32px;
    line-height: 32px;
    padding: 0 5px;
}

.typecho-list-table tbody tr.even {
    background: #eff5d9;
}

.typecho-list-table tbody tr.hover, .typecho-list-table tbody tr:hover {

}

.typecho-list-table tbody tr.hover a, .typecho-list-table tbody tr:hover td {
    background: #E3EEBD;
}

.typecho-list-table h4 {
    font-weight: normal;
}

.typecho-list-table sup {
    font-size: 12px;
    margin-left: 5px;
}

.typecho-list-table .important {
    color: #e47e00;
}

/**
 * 不使用表格的列表
 */
ul.typecho-list-notable {
	font-weight: normal;
	color: #777;
	margin: 0;
	padding: 0;
	line-height: 24px;
	font-size: 14px;
	font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana;
}

ul.typecho-list-notable img {
	background: #FFF;
	padding: 2px;
}

ul.typecho-list-notable .header {
	padding: 10px 10px 0 10px;
	height: 22px;
}

ul.typecho-list-notable .footer {
	padding: 0 10px 10px 10px;
	font-size: 13px;
	height: 22px;
}

ul.typecho-list-notable .left {
	float: left;
}

ul.typecho-list-notable .right {
	float: right;
	text-align: right;
}

ul.typecho-list-notable p {
	font-size:14px;
	font-family: Georgia,Times,"Times New Roman",serif;
	padding: 10px;
}

ul.typecho-list-notable li {
	margin: 0 0 5px 0;
	padding: 5px;
	list-style: none;
	background: #eff5d9;
	
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	
	/* hope IE support border radius, God save me! */
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

ul.typecho-list-notable li.even {
    
}

ul.typecho-list-notable li:hover {
	background: #E3EEBD;
}

/**
 * 图片列表
 */
.typecho-thumb-list {
    overflow: hidden;
    clear: both;
    width: 960px;
    margin-bottom: 70px;
}

.typecho-thumb-list a:hover {
}

.typecho-thumb-list li {
    text-align: center;
    width: 230px;
    float: left;
    position: relative;
    padding-top: 175px;
    height: 55px;
    margin: 20px 10px 00px 0px;
}

.typecho-thumb-list .title {
    font-size: 12px;
    color: #e47e00;
    font-size: 14px;
}

.typecho-thumb-list .title a {
    color: #e47e00;
    display: block;
}

.typecho-thumb-list .thumb {
    border: 1px solid #dee4c5;
    background: #fff;
    padding: 1px;
    position: absolute;
    top:25px;
    left:15px;
}

.typecho-thumb-list .thumb img {
    background: #E5EAD1;
    width: 195px;
    height: 145px;
}

.typecho-thumb-list .description {

}

.typecho-thumb-list .current {
    background: #e47e00;
    color: #fff;
    height: 20px;
    line-height: 20px;
    width: 200px;
    position: absolute;
    top:0px;
    left:15px;
}

/**
 * 后台配置项
 */
.typecho-page-main .typecho-option {
    position: relative;
    top: -1px;
    font-size: 12px;
    border-bottom: 1px solid #EBEFDA;
    border-top: 1px solid #fff;
}

.typecho-page-main .typecho-option label.typecho-label {
    width: 190px;
    margin-left: -200px;
}

.typecho-page-main .typecho-option li {
    margin: 15px 0px;
    padding-left: 200px;
}

.typecho-page-main .typecho-option input.text {
    width: 475px;
}

.typecho-page-main .typecho-option input.mini {
    width: 115px;
}

.typecho-page-main .typecho-option textarea {
    width: 475px;
    height: 150px;
}

.typecho-page-main .typecho-option .description {
    line-height:18px;
    margin-top:5px;
    text-align:justify;
}

.typecho-page-main .typecho-option-submit {
    border-bottom: none;
}

/**
 * 编辑模板
 */
.typecho-select-theme {
    height: 25px;
    line-height: 25px;
    margin: 15px 0px;
}

.typecho-select-theme h5 {
    color: #E47E00;
    font-weight: bold;
    float: left;
    font-size: 14px;
    width: 120px;
    margin-right: 10px;
}

.typecho-select-theme select {
    width: 150px;
}

/**
 * 编辑模板（编辑详情）
 */
.typecho-edit-theme {
    overflow: hidden;
}

.typecho-edit-theme ul {
    width: 120px;
    float: left;
    overflow: hidden;
    padding: 10px 0px 10px 10px;
}

.typecho-edit-theme li {
    line-height: 25px;
    height: 25px;
    margin-bottom: 5px;
    font-size: 12px;
    padding: 0px 0px 0px 10px;
}

.typecho-edit-theme li a:link, .typecho-edit-theme li a:visited {
    color: #333;
    display: block;
}

.typecho-edit-theme li a:hover {
    text-decoration: none;
}

.typecho-edit-theme .current {
    background: #DEE4C5;
}

.typecho-edit-theme .content {
    width: 810px;
    float: left;
    overflow: hidden;
    padding: 10px 10px 10px 0px;
}

.typecho-edit-theme .submit {
    margin: 0 130px 130px 130px;
    width: 810px;
    text-align: center;
}

.typecho-edit-theme textarea {
    width: 800px;
    height: 500px;
}

/**
 * 编写页面
 */

.typecho-post-area {
    margin-bottom: 15px;
}

.typecho-post-area label {
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0px;
    display: block;
}

.typecho-post-area .submit {
    text-align: right;
    margin: 15px 0px 20px;
}

.column-24 .typecho-post-area input {
    font-size: 13px;
    width: 942px;
}

.column-24 .typecho-post-area input.title {
	font-size: 20px; /* 撰写页面标题input */
}

.column-24 .typecho-post-area textarea {
    font-size: 13px;
    width: 942px;
}

.typecho-post-option .typecho-option {
    border: 0px;
    margin: 0px;
}

.typecho-post-option .typecho-option select {
    width: 120px;
}

.typecho-post-option .typecho-option .message {
    margin: 5px 0px;
    width: 60%;
}

/*
.typecho-post-option .typecho-option {

}
 */

.typecho-post-option .post-option-content {
    clear: both;
    zoom: 1;
}

.typecho-post-option .post-option-content textarea {
    width: 505px;
    height: 75px;
    clear: both;
}

/**
 * 标签列表
 */
.tag-list {
    font-size: 12px;
    overflow: hidden;
}

.tag-list li {
    float: left;
}

.typecho-page-main .tag-list li {
    padding: 0px;
    margin: 0px;
}

.tag-list a:link, .tag-list a:visited {
    outline: none;
    padding: 0px 2px;
}

.tag-list a:hover {
    color: #fff;
    background: #E47E00;
    text-decoration: none;
}

/**
 * 查看留言回复
 */
.typecho-view-comment {

}

.typecho-view-comment ul {
    overflow: hidden;
    zoom: 1;
    width: 100%
}

.typecho-view-comment li {
    float: left;
    width: 33.3%;
}

.typecho-view-comment li input {
    width: 250px;
}

.typecho-view-comment li label {
    display: block;
    font-size: 13px;
    font-weight: bold;
}

.typecho-view-comment h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0px 5px 0px;
}

.typecho-view-comment .status {
    text-align: right;
    margin: 5px 15px;
}


.typecho-view-comment textarea {
    width: 780px;
    height: 200px;
}
