@font-face {
  font-family: 'GenSenRounded';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/GenSenRoundedJP-R.woff2') format('woff2');
  unicode-range: U+4E00-9FA5,U+0025-00F0;
}
@font-face {
  font-family: 'allseto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/cjkFonts-allseto-v1.11-2.woff2') format('woff2');
  unicode-range: U+4E00-9FA5,U+0025-00F0;
}

@font-face {
  font-family: 'Inter Local';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../fonts/InterVariable.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0100-024F, U+0250-02AF, U+1E00-1EFF, U+20A0-20CF, U+2150-218F; /* 拉丁扩展等 */
}

/* Material Icons 本地版 */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/MaterialIcons-Regular.woff2') format('woff2');
}

/* 图标类 */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga';
}

:root {
  --font-sans: 'GenSenRounded','Inter Local', 'Inter', 'Noto Sans SC', 'PingFang SC', 'Microsoft YaHei', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
