/**
* 后台头部导航
*/

:root {
  --te-nav-border-color: 1px solid rgba(255, 255, 255, .05);
  --te-nav-bg-color: var(--te-primary-900);
  --te-nav-link-color: var(--te-primary-200);
  --te-nav-link-hover-color: var(--te-white);
  --te-nav-dropdown-bg-color: var(--te-primary-800);
  --te-nav-dropdown-hover-bg-color: var(--te-primary-700);
  --te-nav-active-bg-color: var(--te-primary-500);
}

.typecho-head-nav {
  background: var(--te-nav-bg-color);
  position: sticky;
  top: 0;
  display: flex;
  z-index: 100;
  padding: 0 .5rem;

  a, .menu-bar summary {
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
    color: var(--te-nav-link-color);

    &:focus,
    &:hover {
      background: var(--te-nav-dropdown-bg-color);
      color: var(--te-nav-link-hover-color);
      text-decoration: none;
    }
  }

  .menu-bar {
    display: none;
  }

  menu {
    margin: 0;
    padding: 0;
    list-style: none;
    background: var(--te-nav-bg-color);
  }

  nav {
    width: 100%;

    & > menu {
      display: flex;
      position: relative;
      width: 100%;

      & > li {

        > a {
          display: block;

          &:hover, &:focus {
            background: var(--te-nav-dropdown-bg-color);

            & + menu {
              display: flex;
            }
          }
        }

        &:not(.operate) {
          &.focus > a {
            background: var(--te-nav-dropdown-bg-color);
            font-weight: bold;
          }

          &:hover > a {
            background: var(--te-nav-dropdown-bg-color);
          }
        }

        &:hover, &:focus-within, &:focus {
          menu {
            display: flex;
          }
        }

        menu {
          position: absolute;
          top: 36px;
          display: none;
          flex-flow: column;
          min-width: 160px;
          max-width: 240px;
          background: var(--te-nav-dropdown-bg-color);
          z-index: 250;
          border-radius: 0 0 var(--te-border-radius) var(--te-border-radius);
          box-shadow: var(--te-box-shadow);
          overflow: hidden;

          & > li {
            a {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;

              &:hover,
              &:focus {
                background: var(--te-nav-dropdown-hover-bg-color);
              }
            }

            &.focus a {
              background-color: var(--te-nav-active-bg-color);
              color: var(--te-nav-link-hover-color);
              font-weight: bold;
            }
          }
        }

        &.operate {
          flex: 1;
          display: flex;
          justify-content: flex-end;

          a {
            &:hover {
              background-color: var(--te-nav-dropdown-bg-color);
            }
          }
        }
      }
    }
  }

  @include screen(phone, max) {
    padding: 0;
    flex-flow: column;

    .menu-bar {
      display: block;
      font-size: 14px;
      position: sticky;
      top: 0;
      background: var(--te-nav-bg-color);
      z-index: 10;

      summary {
        cursor: pointer;
      }

      &[open] {
        summary {
          border-bottom: var(--te-nav-border-color);
        }

        & ~ menu {
          display: flex;
        }
      }
    }

    nav {
      overflow-y: auto;
      width: 100vw;
      position: fixed;
      top: 0;
      background: var(--te-nav-dropdown-bg-color);

      &:has(.menu-bar[open]) {
        width: 70vw;
        height: 100%;
      }

      & > menu {
        display: none;
        flex-flow: column;

        & > li {
          &:first-child {
            border: none;
          }

          > a {
            border: none !important;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &:not(.operate) {
            // &.focus > a {
            //   background: var(--te-nav-active-bg-color);
            // }

            // &:hover > a {
            //   background: var(--te-nav-active-bg-color);
            // }

            & > a {
              pointer-events: auto;
              cursor: pointer;
              background: var(--te-nav-bg-color) !important;
            }
          }

          menu {
            position: static;
            border: var(--te-nav-border-color);
            border-width: 1px 0;
            display: flex;
            min-width: auto;
            max-width: none;
            border-radius: 0;
          }

          &.operate {
            flex-flow: column;
            justify-content: flex-start;

            a {
              background: var(--te-nav-dropdown-bg-color);

              &:hover {
                background: var(--te-nav-active-bg-color);
              }
            }
          }
        }
      }
    }
  }
}

@include screen(phone, max) {
  body {
    padding-top: 36px;

    &:has(.menu-bar[open]) {
      overflow: hidden;
    }
  }
}
