/**
 * icons
 */
 %i-base {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999em;
  background: url("../img/icons.svg") no-repeat;
}

%i-16 {
  @extend %i-base;
  width: 16px;
  height: 16px;
}

%i-32 {
  @extend %i-base;
  background-size: 32px auto;
  width: 32px;
  height: 32px;
}

.i-delete {
  @extend %i-16;
  background-position-y: 0;
}

.i-edit {
  @extend %i-16;
  background-position-y: -16px;
}

.i-exlink {
  @extend %i-16;
  background-position-y: calc(-16px * 2);
}
.i-upload {
  @extend %i-32;
  background-position-y: calc(-32px * 3);
}

.i-upload-active {
  @extend %i-32;
  background-position-y: calc(-32px * 4);
}

a i[class*="i-"]:hover {
  opacity: .75;
}

// 小箭头
.i-caret-up, .i-caret-down, .i-caret-left, .i-caret-right {
  display: inline-block;
  border-style: solid;
  border-color: transparent transparent var(--te-secondary) transparent;
  border-width: 3px 4px 5px;
}
.i-caret-down {
  border-color: var(--te-secondary) transparent transparent transparent;
  border-width: 5px 4px 3px;
}
.i-caret-left {
  border-color: transparent var(--te-secondary) transparent transparent;
  border-width: 4px 5px 4px 3px;
}
.i-caret-right {
  border-color: transparent transparent transparent var(--te-secondary);
  border-width: 4px 3px 4px 5px;
}


/* Logo 图标 */
.i-logo, .i-logo-s {
  width: 169px;
  height: 40px;
  display: inline-block;
  background: url("../img/typecho-logo.svg") no-repeat;
  text-indent: -9999em;
  background-size: auto 40px;
  opacity: .15;
  &:hover {
    opacity: .2;
  }
}
// .i-logo-s {
//   width: 26px;
//   height: 26px;
//   background-size: auto 26px;
// }
