/**
* 典型配置选项
*/
.typecho-option {
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;

  &-submit li {
    border-bottom: none;
  }

  label {
    &.typecho-label {
      display: block;
      margin-bottom: .5rem;
      font-weight: bold;
    }

    &.required:after {
      content: " *";
      color: var(--te-danger);
    }
    &:not([class]) {
      display: inline;
      input,
      ~ input {
        display: inline;
      }
    }
  }

  span:not([class]) {
    margin-right: 1rem;
  }

  .description {
    margin: .25rem 0 0;
    color: var(--te-secondary);
    font-size: .8125rem;
  }

  input.num {
    width: 60px;
  }

  textarea {
    // width: 100%;
    height: 100px;
  }

  .multiline {
    display: block;
    margin: .25rem 0;
    &.hidden {
      display: none;
    }
  }
}
