/**
* 后台分页
*/

.typecho-pager {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  zoom: 1;
  font-size: 13px;
}

.typecho-pager li {
  margin: 0 1px;
}

.typecho-pager a {
  display: block;
  padding: 3px 6px;
  border: 1px solid transparent;
  border-radius: var(--te-border-radius);
  min-width: 24px;
}

.typecho-pager a:hover {
  text-decoration: none;
  background: var(--te-gray-200);
}

.typecho-pager li.current a {
  background-color: var(--te-gray-200);
  color: var(--te-gray-700);
}
