/**
* 后台分页
*/

.typecho-pager {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
  zoom: 1;

  li {
    margin: 0 3px;
    height: 28px;
    line-height: 28px;

    a {
      display: block;
      padding: 0 10px;
      border-radius: 2px;

      &:hover {
        text-decoration: none;
        background: #E9E9E6;
      }
    }

    &.current a {
      background: #E9E9E6;
      color: #444;
    }
  }
}
