/**
* 后台分页
*/

.typecho-pager {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  zoom: 1;

  li {
    margin-left: 0.125rem;

    a {
      display: block;
      padding: 3px 7px;
      font-size: 13px;
      border: 1px solid transparent;
      border-radius: var(--te-border-radius-sm);

      &:hover {
        text-decoration: none;
        background: var(--te-gray-200);
      }
    }

    &.current a {
      background: var(--te-gray-200);
      color: var(--te-gray-700);
    }
  }
}
