/**
* 表格列表页
*/

/**
* 列表页选项
*/

.typecho-list-operate {
  display: flex;
  margin: 0 0 1rem;

  & + .typecho-list-operate {
    margin-top: 0;
  }

  input, button, select {
    vertical-align: bottom;
  }

  input[type="checkbox"] {
    vertical-align: text-top;
  }

  a:hover {
    text-decoration: none;
  }

  > *:nth-child(2) {
    flex: 1;
  }

  .operate, .search {
    display: flex;
    align-items: center;
  }

  .operate {
    label {
      display: flex;
    }

    > * {
      margin-right: .5rem;
    }
  }

  .search input[type=text] {
    max-width: 200px;
  }

  > *:nth-child(2) {
    justify-content: flex-end;

    &.search > * {
      margin-left: .5rem;
    }
  }

  @include screen(phone, max) {
    & {
      flex-flow: column;

      > *:nth-child(2) {
        margin-top: 10px;
        justify-content: flex-start;

        > *:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

a.operate-approved {
  color: var(--te-success);
}
a.operate-waiting {
  color: var(--te-info);
}
a.operate-spam {
  color: var(--te-warning);
}
a.operate-delete {
  color: var(--te-danger) !important;
}


/**
* 列表表格
*/
/** 增加表格标题 by 70 */
.typecho-list-table-title {
  text-align: center;
}

.typecho-list-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  margin-bottom: 1rem;
  border: 1px solid var(--te-border-color);
  background-color: var(--te-white);
  border-radius: var(--te-border-radius);
  overflow: hidden;

  &.deactivate {
    color: var(--te-secondary);
  }

  .right {
    text-align: right;
  }

  th {
    padding: .75rem 1rem;
    text-align: left;
  }

  td {
    padding: .75rem 1rem;
    border-top: 1px solid var(--te-gray-200);
    word-break: break-all;

    pre {
      overflow: auto;
    }

    &.none {
      color: var(--te-secondary);
      text-align: center;
    }
  }

  .status {
    margin-left: .25rem;
    color: var(--te-secondary);
    font-style: normal;
  }

  tbody tr {
    &:hover {
      background-color: var(--te-gray-100);
    }

    &:has(input[type="checkbox"]:checked) {
      background-color: var(--te-yellow-100);
    }
  }

  tr td .hidden-by-mouse {
    opacity: 0;
  }

  tr:hover td .hidden-by-mouse {
    opacity: 1;
  }

  tr td:first-child input[type="checkbox"] {
    display: block;
  }

  img {
    border: 1px solid var(--te-gray-200)
  }
}
