/**
* 标签页
*/
.typecho-option-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  &.fix-tabs {
    margin: 1em 0;
  }

  li {
    &:first-child a {
      border-top-left-radius: var(--te-border-radius-sm);
      border-bottom-left-radius: var(--te-border-radius-sm);
    }
    &:last-child a {
      border-top-right-radius: var(--te-border-radius-sm);
      border-bottom-right-radius: var(--te-border-radius-sm);
    }
    &:not(:first-child) {
      margin-left: -1px;
    }

    &.current a,
    &.active a {
      background-color: var(--te-gray-200);
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--te-gray-300);
      padding: 3px 12px;
      font-size: 13px;
      color: var(--te-gray-700);
      text-align: center;
      text-decoration: none;

      &:hover {
        background-color: var(--te-gray-200);
      }
    }

    .balloon {
      margin-left: 4px;
    }
  }
}
