.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 4px; }
.mt-2 { margin-top: 8px; }
.mt-3 { margin-top: 16px; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 4px; }
.mb-2 { margin-bottom: 8px; }
.mb-3 { margin-bottom: 16px; }

.ms-0 { margin-left: 0; }
.ms-1 { margin-left: 4px; }
.ms-2 { margin-left: 8px; }
.ms-3 { margin-left: 16px; }

.me-0 { margin-right: 0; }
.me-1 { margin-right: 4px ; }
.me-2 { margin-right: 8px ; }
.me-3 { margin-right: 16px; }

.p-0 { padding: 0; }
.p-1 { padding: 4px; }
.p-2 { padding: 8px; }
.p-3 { padding: 16px; }

.px-0 { padding-left: 0; padding-right: 0; }
.px-1 { padding-left: 4px; padding-right: 4px; }
.px-2 { padding-left: 8px; padding-right: 8px; }
.px-3 { padding-left: 16px; padding-right: 16px; }

.w-10 { width: 10% !important; }
.w-20 { width: 20% !important; }
.w-30 { width: 30% !important; }
.w-40 { width: 40% !important; }
.w-50 { width: 50% !important; }
.w-60 { width: 60% !important; }
.w-70 { width: 70% !important; }
.w-80 { width: 80% !important; }
.w-90 { width: 90% !important; }
.w-100 { width: 100% !important; }

.list-inline {
  padding: 0;
  list-style: none;

  .list-inline-item { display: inline-block; }
}

// Flexbox utilities
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

// Shadow utilities
.shadow { box-shadow: var(--te-box-shadow); }
.shadow-sm { box-shadow: var(--te-box-shadow-sm); }
.shadow-lg { box-shadow: var(--te-box-shadow-lg); }
.shadow-inset { box-shadow: var(--te-box-shadow-inset); }


// Radius utilities
.rounded-1 { border-radius: var(--te-border-radius-sm); }
.rounded-2, .rounded { border-radius: var(--te-border-radius); }
.rounded-3 { border-radius: var(--te-border-radius-lg); }
.rounded-pill { border-radius: var(--te-border-radius-pill); }

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
  display: none;
  // display: none !important;
  // visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.sr-only {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .sr-only class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
  visibility: hidden;
}