//
// Config
//

// Grid
$columns: 12;
$column-width: 100% / $columns;
$gutter-width: 20px;


// Break point
$screen-phone: 576px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-wide: 1200px;


:root {
  --te-primary: #007FA3;
  --te-secondary: #6c757d;
  --te-success: #198754;
  --te-info: #0dcaf0;
  --te-warning: #ffc107;
  --te-danger: #dc3545;
  --te-light: #f8f9fa;
  --te-dark: #212529;
  --te-white: #fff;
  --te-black: #000;
  --te-gray-100: #f8f9fa;
  --te-gray-200: #e9ecef;
  --te-gray-300: #dee2e6;
  --te-gray-400: #ced4da;
  --te-gray-500: #adb5bd;
  --te-gray-600: #6c757d;
  --te-gray-700: #495057;
  --te-gray-800: #343a40;
  --te-gray-900: #212529;

  --te-link-color: var(--te-primary);
  --te-link-hover-color: #006682;

  --te-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --te-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --te-body-font-family: var(--te-font-sans-serif);
  --te-body-font-size: 87.5%;
  --te-body-color: var(--te-dark);

  --te-border-color: var(--te-gray-300);
  --te-border-radius: 4px;
}