//
// Config
//
$columns: 12;
$column-width: 100% / $columns;
$gutter-width: 20px;


// Break point
$screen-phone: 576px;
$screen-tablet:  768px;
$screen-desktop: 992px;
$screen-wide: 1200px;

@function breakpoint($breakpoint) {
  @if $breakpoint == 'phone' {
    @return $screen-phone;
  } @else if $breakpoint == 'tablet' {
    @return $screen-tablet;
  } @else if $breakpoint == 'desktop' {
    @return $screen-desktop;
  } @else if $breakpoint == 'wide' {
    @return $screen-wide;
  } @else {
    @return $breakpoint;
  }
}

@mixin screen($breakpoint, $type: min) {
  @if $type == min {
    @media (min-width: breakpoint($breakpoint)) {
      @content;
    }
  } @else {
    @media (max-width: breakpoint($breakpoint) - 1) {
      @content;
    }
  }
}

:root {
  --te-primary: var(--te-primary-500);
  --te-secondary: var(--te-gray-600);
  --te-success: var(--te-green-500);
  --te-info: var(--te-blue-500);
  --te-warning: var(--te-yellow-500);
  --te-danger: var(--te-red-500);
  --te-light: var(--te-gray-100);
  --te-dark: var(--te-gray-900);
  --te-white: #fff;
  --te-black: #000;

  --te-primary-100: #e6f3f7;
  --te-primary-200: #b3dbe7;
  --te-primary-300: #80c3d7;
  --te-primary-400: #4dabc7;
  --te-primary-500: #007FA3;
  --te-primary-600: #006682;
  --te-primary-700: #004C62;
  --te-primary-800: #003341;
  --te-primary-900: #001921;
  
  --te-gray-100: #fafaf8;
  --te-gray-200: #e9e9e7;
  --te-gray-300: #d8d8d6;
  --te-gray-400: #c7c7c5;
  --te-gray-500: #b6b6b4;
  --te-gray-600: #959593;
  --te-gray-700: #747472;
  --te-gray-800: #535351;
  --te-gray-900: #323230;

  --te-red-100: #f8d7da;
  --te-red-200: #f1aeb5;
  --te-red-300: #ea868f;
  --te-red-400: #e35d6a;
  --te-red-500: #dc3545;
  --te-red-600: #b02a37;
  --te-red-700: #842029;
  --te-red-800: #58151c;
  --te-red-900: #2c0b0e;

  --te-green-100: #d1e7dd;
  --te-green-200: #a3cfbb;
  --te-green-300: #75b798;
  --te-green-400: #479f76;
  --te-green-500: #198754;
  --te-green-600: #146c43;
  --te-green-700: #0f5132;
  --te-green-800: #0a3622;
  --te-green-900: #051b11;

  --te-yellow-100: #fff3cd;
  --te-yellow-200: #ffe5a0;
  --te-yellow-300: #ffd773;
  --te-yellow-400: #ffca46;
  --te-yellow-500: #ffc107;
  --te-yellow-600: #cc9a06;
  --te-yellow-700: #997404;
  --te-yellow-800: #664d03;
  --te-yellow-900: #332701;

  --te-blue-100: #cff4fc;
  --te-blue-200: #9eeaf9;
  --te-blue-300: #6edff6;
  --te-blue-400: #3dd5f3;
  --te-blue-500: #0dcaf0;
  --te-blue-600: #0aa2c0;
  --te-blue-700: #087990;
  --te-blue-800: #055160;
  --te-blue-900: #032830;

  --te-link-color: var(--te-primary);
  --te-link-hover-color: var(--te-primary-600);

  --te-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --te-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --te-body-font-family: var(--te-font-sans-serif);
  --te-body-font-size: .875rem;
  --te-body-color: var(--te-dark);

  --te-border-color: var(--te-gray-300);
  --te-border-radius-sm: 4px;
  --te-border-radius: 6px;
  --te-border-radius-lg: 8px;
  --te-border-radius-pill: 800px;

  --te-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  --te-box-shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.075);
  --te-box-shadow-lg: 0 16px 48px rgba(0, 0, 0, 0.175);
  --te-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}