/**
* 编写页面
*/

.typecho-post-area {
  .edit-draft-notice {
    color: var(--te-danger);
    display: block;
    margin-bottom: .5rem;
  }

  .submit {
    display: flex;
    justify-content: space-between;

    #auto-save-message {
      color: var(--te-secondary);
    }

    .left {
      display: flex;
      align-items: center;

      > * {
        margin-right: .5rem;
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      > * {
        margin-left: .5rem;
      }
    }
  }

  .url-slug {
    color: var(--te-secondary);
    word-break: break-word;
    font-size: .8125rem;
  }

  #slug {
    padding: 0 2px;
    border: none;
    background: var(--te-gray-200);
    border-radius: 0;
    ~ pre {
      font-size: 1em;
    }
  }

  #text {
    resize: none;
  }

  /**
   * 自定义字段
   */
  #custom-field {
    margin: 1rem 0;
    padding: 1rem;
    background: var(--te-white);
    border: 1px solid var(--te-border-color);
    border-radius: var(--te-border-radius);

    summary {
      font-weight: bold;
    }

    .add {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      .description {
        margin-top: 0;
      }
    }

    // p.description {
    //   text-align: left;
    // }

    // .typecho-label {
    //   margin: 0;

    //   a {
    //     display: block;
    //     color: #444;

    //     &:hover {
    //       color: #467B96;
    //       text-decoration: none;
    //     }
    //   }
    // }

    .fields {
      list-style: none;
      margin: 10px 0 0 0;
      padding: 0;

      .field {
        display: flex;
        padding-bottom: 10px;
        border-bottom: 1px solid #F0F0EC;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        .field-name {
          display: flex;

          input[name="fieldNames[]"] {
            height: 27px;
            width: 150px;
            margin-right: 10px;
          }
        }

        .field-value {
          margin-left: 10px;
          flex: 1;
          display: flex;

          textarea[name="fieldValues[]"] {
            flex: 1;
            margin-right: 10px;
            height: 50px;
          }
        }

        @include screen(phone, max) {
          flex-flow: column;

          .field-value {
            margin-left: 0;
            margin-top: 10px;
          }
        }
      }
    }

    select { height: 27px; }
  }

  /**
   * 侧边栏
   */
  #edit-secondary {

    .category-option ul {
      list-style: none;
      border: 1px solid var(--te-border-color);
      padding: 6px 12px;
      max-height: 240px;
      overflow: auto;
      background-color: var(--te-white);
      border-radius: var(--te-border-radius);

      li {
        margin: .25rem 0;
      }
    }

    #advance-panel {
      // summary {
      //   line-height: 25px;
      // }

      .visibility-option ul,
      .allow-option ul {
        list-style: none;
        padding: 0;
      }
    }
  }
}
