/* vim: set et sw=2 ts=2 sts=2 fdm=marker ff=unix fenc=utf8 */
/**
* Typecho 后台样式
*
* @author  Typecho Team
* @since   2008-09-26
* @update  2013-11-02
* @link    http://www.typecho.org/
* @version 0.9
*/


/**
* Typecho 全局样式
*/

html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  background: #F6F6F3;
  color: #444;
  font-size: 87.5%;
  line-height: 1.5;
}

a {
  color: #467B96;
  text-decoration: none;
  &:hover {
    color: #499BC3;
    text-decoration: underline;
  }
}

code, pre, .mono { 
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.p { margin: 1em 0; }

.body-100 {
  height: 100%;
}

a.balloon-button {
  display: inline-block;
  padding: 0 6px;
  min-width: 12px;
  height: 18px;
  line-height: 18px;
  background: #D8E7EE;
  font-size: .85714em;
  text-align: center;
  text-decoration: none;
  
  /** 修正ie中文不对齐 */
  zoom:1;
  
  border-radius: 30px;
  white-space: nowrap;
}

a.button:hover, a.balloon-button:hover {
  background-color: #A5CADC;
  color: #FFF;
  text-decoration: none;
}

@import "vars";
@import "forms";
@import "buttons";
@import "messages";
@import "pagenavi";
@import "table";
@import "tabs";
@import "tags";
@import "write";
@import "options";

@import "header";
@import "footer";

/**
* logo 的样式
*/
.logo {
}

/**
* 载入状态
*/
.loading {
  padding-left: 20px !important;
  background: transparent url(../img/ajax-loader.gif) no-repeat left center;
}

.front-archive {
  padding-left: 1.5em;
}

.profile-avatar {
  width: 220px;
  height: 220px;
  border-radius: 10px;
}

/** 增加配置面板内部的错误样式 by 70 */


/**
* 欢迎界面
*/

#typecho-welcome {
  margin: 1em 0;
  padding: 1em 2em;
  background-color: #E9E9E6;
}

.welcome-board {
  color: #999;
  font-size: 1.15em;
  em {
    color: #444;
    font-size: 2em;
    font-style: normal;
    font-family: Georgia, serif;
  }
}

#start-link {
  margin-bottom: 25px;
  padding: 0 0 35px;
  border-bottom: 1px solid #ECECEC;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: 1.5em;
    display: flex;
    align-items: center;

    .balloon {
      margin-left: 5px;
    }
  }
}

.latest-link {
  li {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  span {
    display: inline-block;
    margin-right: 4px;
    padding-right: 8px;
    border-right: 1px solid #ECECEC;
    width: 37px;
    text-align: right;
    color: #999;
  }
}

.update-check {
  font-size: 14px;
}

/**
* 登录框
*/
.typecho-login-wrap {
  display: table;
  margin: 0 auto;
  height: 100%;

  .typecho-login {
    display: table-cell;
    padding: 30px 0 100px;
    width: 280px;
    text-align: center;
    vertical-align: middle;

    h1 {
      margin: 0 0 1em;
    }

    .more-link {
      margin-top: 2em;
      color: #CCC;

      a {
        margin: 0 3px;
      }
    }
  }
}

/**
* 标题
*/
.typecho-page-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 25px 0 10px;

  h2 {
    margin: 0;
    font-size: 1.28571em;
  }

  a {
    padding: 3px 8px;
    margin-left: 8px;
    background: #E9E9E6;
    font-size: .8em;
    font-weight: bold;
    border-radius: 2px;

    &:hover {
      text-decoration: none;
    }
  }
}

/**
* 后台页面主体
*/


/**
* 主页主体
*/
.typecho-dashboard {
  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 5px;
    }
  }
}

/**
* 评论管理
*/

.comment-reply-content {
  position: relative;
  margin: 1em 0;
  padding: 0 1em;
  border: 1px solid transparent;
  background-color: #F0F0EC;
}
.comment-reply-content:after {
  position: absolute;
  right: 1em;
  border: 8px solid #F0F0EC;
  border-color: #F0F0EC #F0F0EC transparent transparent;
  content: " ";
}

.comment-meta span,
.comment-date {
  font-size: .92857em;
  color: #999;
}

.comment-action a, .comment-action span { margin-right: 4px; }

.comment-edit label {
  display: block;
}

.comment-content img {
  max-width: 100%;
}

@include screen(phone, max) {
  .comment-edit {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  .comment-edit td:first-child { display: none; }
}

/**
* 评论回复
*/
#typecho-respond {
  padding: 10px;
  display: none;
}

/**
* 模板列表
*/
.typecho-theme-list {
  img {
    margin: 1em 0;
    max-width: 100%;
    max-height: 240px;
  }

  cite {
    font-style: normal;
    color: #999;
  }

  tbody tr.current td {
    background-color: #FFF9E8;
  }
}


/**
* 编辑模板（编辑详情）
*/

.typecho-edit-theme {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 3px 10px;
    }
  }

  .current {
    background-color: #E6E6E3;

    a {
      color: #444;
    }
  }

  textarea {
    font-size: .92857em;
    line-height: 1.2;
    height: 500px;
  }
}

.typecho-attachment-photo {
  border: 1px solid #E6E6E3;
  max-width: 100%;
}


/*
* Upload
*/
#upload-panel {
  border: 1px dashed #D9D9D6;
  background-color: #FFF;
  color: #999;
  font-size: .92857em;
  &.drag {
    background-color: #FFFBCC;
  }
}

.upload-area {
  padding: 15px;
  text-align: center;
}

#file-list {
  list-style: none;
  margin: 0 10px;
  padding: 0;
  max-height: 450px;
  overflow: auto;
  word-break: break-all;
  li,
  .insert {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  li {
    padding: 8px 0;
    border-top: 1px dashed #D9D9D6;
  }
  .insert {
    display: block;
    max-width: 100%;
  }
  .file {
    margin-left: 5px;
  }
  .info {
    text-transform: uppercase;
  }
}

#btn-fullscreen-upload {
  visibility: hidden;
}


/**
* 附件管理
*/
.edit-media button { margin-right: 6px; }

/* 拖动排序 */
.tDnD_whileDrag {
  background-color: #FFFBCC;
}

@include screen(phone, max) {
  .typecho-option-submit {
    button[type="submit"] {
      width: 100%;
    }
  }

  .profile-avatar {
    width: 110px;
    height: 110px;
  }
}

/**
* 导入扩展样式
*/

@import "icons";
@import "components";
@import "hidden";
